/*nav*/
.nav {
  background-color: #fafafa;
}

.phone {
  text-align: right;
}

a.phone-link {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  text-align: right;
  }

  .link-land {
    padding-right: 0;
  }

  .new-links {
    text-align: right;
    padding-right: 0;
  }

  .navbar {
    padding-right: 0;
  }

.menu-button {
  text-align: right;
}

.nav-item {
  font-size: 1em;
  font-weight: bold;
  text-align: right;
}

.p-2 > a {
  color: black;
  font-weight: bold;
}

/*hero*/

.hero {
  background-image: url("images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  background-size: cover;
  position: relative;
}

.hero-cta {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cta-text {
  text-transform: uppercase;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  color: #FFFFFF;
}

.cta-text > a {
  color: #FFFFFF;
}

.cta-box > a {
  color: #FFFFFF;
  font-style: normal;
}

.cta-box > p {
  display: inline;
}

.btn-go {
  float: right;
  background-color: #90C843;
  margin-left: 20px;
  border-color: #90C843;
  }

/*book now*/

.book {
  margin-top: 125px;
}

.book2 {
  margin-top: 90px;
}

.book-responsive {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-family: Arial, sans-serif;
  font-color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 2.5em;
}

.text1 {
  font-size: 1.3em;
  color: black;
}

.btn-book {
  text-transform: uppercase;
  background-color: black;
  border-color: black;
}

.btn-items {
  text-transform: uppercase;
  background-color: white;
  text-decoration: underline;
  color: black;
  border-color: white;
}

/*Ready to service*/

.ready {
  background-color: #fafafa;
}

.ready-text {
  text-align: center;
}

.ready-text > h1 {
  padding-bottom: 10px;
}

.ready-text > p {
  font-size: 1.5em;
}

.ready-text > button {
  margin-top: 15px;
}

  /*Instagram*/

.ig-rel {
  position: relative;
}

.ig-abs {
  position: absolute;
  bottom: 10px;
  left: 25px;
}

  /*top rated*/

.rated-headings {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.rated-headings > h1 {
  text-transform: uppercase;
}

.rated-headings > h2 {
  font-family: arial, sans-serif;
  font-size: 2.2em;
}

  /*junk removal*/

.junks {
  background-color: #fafafa;
  margin: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.junk-list {
  background-color: #fafafa;
  font-family: arial, sans-serif;
  font-size: 2em;
  padding-top: 50px;
  padding-bottom: 50px;
}

.items {
  text-decoration: underline;
  color: black;
  padding-left: 10px;
}

  /*why hire*/

  /*footer*/

.footer {
  background-color: black;
}

.f-head {
  text-align: center;
}

.f-head > h1 {
  color: white;
}

.big {
  position: relative;
  text-align: center;
}

a.big-links {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 1.5em;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.bottom-logo {
text-align: center;
}

.bottom-logo > h2 {
  color: white;
  font-style: normal;
}

.last-call {
  text-align: center;
  color: white;

}

.row-last {
text-align: center;
}

a.last-links {
  display: inline-block;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
}
